# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Testing
.coverage
htmlcov/
.tox/

# Misc
.DS_Store
.env.local
.env.*.local
